<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordCount.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <WordCount.Properties.Settings>
            <setting name="ResourceUri" serializeAs="String">
                <value>https://analysis.windows.net/powerbi/api</value>
            </setting>
            <setting name="Authority" serializeAs="String">
                <value>https://login.windows.net/common/oauth2/authorize</value>
            </setting>
            <setting name="DatasetUri" serializeAs="String">
                <value>https://api.powerbi.com/beta/myorg/datasets</value>
            </setting>
            <setting name="PowerBiClientId" serializeAs="String">
                <value>Your Client ID</value>
            </setting>
            <setting name="PowerBiUsername" serializeAs="String">
                <value>A user with access to Power BI</value>
            </setting>
            <setting name="PowerBiPassword" serializeAs="String">
                <value>The user password</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>WordCount</value>
            </setting>
            <setting name="DatasetName" serializeAs="String">
                <value>Words</value>
            </setting>
        </WordCount.Properties.Settings>
    </applicationSettings>
</configuration>